/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background-color: white; }

.starter-template {
  /* 	padding-top:300px; */
  margin: 50px;
  border: 2px solid black;
  text-align: center; }

section#cubes {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section#cubes:after {
    content: "";
    display: table;
    clear: both; }
  section#cubes .cubes_left {
    height: 600px;
    background: #c6fdff; }
    @media screen and (max-width: 600px) {
      section#cubes .cubes_left {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%; }
        section#cubes .cubes_left:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 601px) {
      section#cubes .cubes_left {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        section#cubes .cubes_left:last-child {
          margin-right: 0; } }
  section#cubes .cubes_two {
    height: 600px;
    background: #c6fdff; }
    @media screen and (max-width: 600px) {
      section#cubes .cubes_two {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%; }
        section#cubes .cubes_two:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 601px) {
      section#cubes .cubes_two {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        section#cubes .cubes_two:last-child {
          margin-right: 0; } }
  section#cubes .cubes_right {
    height: 600px;
    background: #c6fdff; }
    @media screen and (max-width: 600px) {
      section#cubes .cubes_right {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%; }
        section#cubes .cubes_right:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 601px) {
      section#cubes .cubes_right {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        section#cubes .cubes_right:last-child {
          margin-right: 0; } }
  section#cubes .band_box {
    background-color: #7BCAE8;
    background-image: -webkit-linear-gradient(#7BCAE8, #50b9e0);
    background-image: linear-gradient(#7BCAE8, #50b9e0);
    height: 100px;
    width: 100%;
    display: table;
    vertical-align: middle;
    text-align: center; }
  section#cubes .text {
    display: table-cell;
    vertical-align: middle; }
    section#cubes .text h3 {
      font-size: 1.1em;
      text-align: center;
      line-height: .5em; }
    section#cubes .text h1 {
      font-size: 2em;
      line-height: 1em;
      font-family: "Oswald", sans-serif; }

.band_name_box {
  float: left;
  width: 80%;
  background: gray; }

.icon_box {
  float: right;
  width: 20%;
  height: 90%; }

.g_box {
  content: url(/img/G.svg); }

.pick_box {
  content: url(/img/check.svg);
  width: 100%; }

section#navigation {
  background-color: #ddce46; }

/* Drop down menu to select weekend --------------------------------------------------------------------- */
/* .myMenu is the class for the whole menu */
.myMenu {
  margin: 0;
  padding: 0; }

/* li is the top level box, the first one you see */
li {
  list-style: none;
  float: left;
  font: 12px Arial, Helvetica, sans-serif #111;
  /* li ul is the container for the boxes that come out when the top box is expanded */ }
  li a:link, li a:visited {
    display: block;
    text-decoration: none;
    background-color: #09F;
    padding: 0.5em 2em;
    margin: 0;
    border-right: 1px solid #fff;
    color: #111; }
  li a:hover {
    background-color: #0CF; }
  li ul {
    position: absolute;
    visibility: hidden;
    border-top: 1px solid #fff;
    margin: 0;
    padding: 0; }
    li ul li {
      display: inline;
      float: none; }
      li ul li a:link, li ul li .myMenu li ul li a:visited {
        background-color: #09F;
        width: auto; }

.myMenu li ul li a:link, .myMenu li ul li a:visited {
  background-color: #09F;
  width: auto; }

.myMenu li ul li a:hover {
  background-color: #0CF; }

/* End Drop down menu to select weekend --------------------------------------------------------------------- */
.filters {
  background-color: blue;
  padding: 10px; }

.cubes_left {
  float: left;
  width: 50%; }

.cubes_right {
  float: right;
  width: 50%; }

.date_select_div {
  background-color: gray;
  height: 40px;
  width: 100%; }
