@mixin column {
	height: 600px;
//     line-height: $body-line-height;
    background: #c6fdff;
    
	@include media($small-media) {
		@include span-columns(12);
	}
	
	@include media($large-media) {
		@include span-columns(4);
	}
}


h1.day{
	font-family: $secondary-font;
	font: 400;
	color: $primary-color-darken;
	text-align: center;
}

@mixin band_box_template {
	height: 100px;
	width: 100%;
	display: table;
	vertical-align: middle;
	text-align: center;
}


section {
	

	
	&#cubes {
		@include outer-container;
		
				
		.cubes_left {
			@include column;
		}
		
		.cubes_two  {
			@include column;
		}

		.cubes_right {
			@include column;
		}
		
				
		.band_box {
			@include band_box_template;
			@include linear-gradient($primary-color, $primary-color-darken );
		}
		
		.band_box_basin_pick {
			@include band_box_template;
			@include linear-gradient($green-color, $green-color-darken );			
		}
			
		.text {
			display: table-cell;
			vertical-align: middle;

		h3 {
			font-size: 1.1em;
			text-align: center;
			line-height: .5em;
			font-family: $secondary-font;
			font-weight: 700;
		}
		
		h1 {
			font-size: 2em;
// 				text-align: center;
			line-height: 1em;
			font-family: $primary-font;
			}
			
		}
	}
}




	


	




.band_name_box {
	float: left;
	width: 80%;
	background: gray;
}

.icon_box {
	float: right;
	width: 20%;
	height: 90%;
}

.g_box {
	content: url(/img/G.svg);
}

.pick_box{
	content: url(/img/check.svg);
	width: 100%;
}



