// Mixins

@mixin column {
	height: 600px;
//     line-height: $body-line-height;
    background: #c6fdff;
    
	@include media($small-media) {
		@include span-columns(12);
	}
	
	@include media($large-media) {
		@include span-columns(4);
	}
}

@mixin band_box_template {
	height: 100px;
	width: 100%;
	display: table;
	vertical-align: middle;
	text-align: center;
}






section {
		
	&#cubes {
		@include outer-container;
		
				
		.cubes_left {
			@include column;
		}
		
		.cubes_two  {
			@include column;
		}

		.cubes_right {
			@include column;
		}
		
				
		.band_box {
			@include band_box_template;
			@include linear-gradient($primary-color, $primary-color-darken );
		}
		
		.band_box_basin_pick {
			@include band_box_template;
			@include linear-gradient($green-color, $green-color-darken );
			background-image: url('http://placehold.it/65x65');
			background-repeat: no-repeat;
			background-position: 95% 10%;
			
			
			background-image: url('http://placehold.it/65x65'); /* fallback */
			background-repeat: no-repeat;
			background-image: url('http://placehold.it/65x65'), -webkit-gradient(linear, left top, left bottom, from($green-color), to($green-color-darken)); /* Saf4+, Chrome */
		/*
		/*
			background-image: url(IMAGE_URL), -webkit-linear-gradient(top, #6cab26, #6ceb86); /* Chrome 10+, Saf5.1+ */
			background-image: url(IMAGE_URL),    -moz-linear-gradient(top, #6cab26, #6ceb86); /* FF3.6+ */
			background-image: url(IMAGE_URL),     -ms-linear-gradient(top, #6cab26, #6ceb86); /* IE10 */
			background-image: url(IMAGE_URL),      -o-linear-gradient(top, #6cab26, #6ceb86); /* Opera 11.10+ */
			background-image: url(IMAGE_URL),         linear-gradient(top bottom, #6cab26, #6ceb86); /* W3C */			
		}		
			
		.text {
			display: table-cell;
			vertical-align: middle;
		}

		h3 {
			font-size: 1.1em;
			text-align: center;
			line-height: .5em;
			font-family: $secondary-font;
			font-weight: 700;
		}
		
		h1 {
			font-size: 2em;
			// 				text-align: center;
			line-height: 1em;
			font-family: $primary-font;
		}
	}
}




	
.full_cube {
	display: none;
}

	




.band_name_box {
	float: left;
	width: 80%;
	background: gray;
}

.icon_box {
	float: right;
	width: 20%;
	height: 90%;
}

.g_box {
	content: url(/img/G.svg);
}

.pick_box{
	content: url(/img/check.svg);
	width: 100%;
}


// Stage Name

h1.stage_name{
	font-family: $secondary-font;
	font: 400;
	color: $primary-color-darken;
	text-align: center;
}
