@mixin column {
	height: 600px;
//     line-height: $body-line-height;
    background: #c6fdff;
    
	@include media($small-media) {
		@include span-columns(12);
	}
	
	@include media($large-media) {
		@include span-columns(4);
	}
}





section {
	
	&#cubes {
		@include outer-container;
		
				
		.cubes_left {
			@include column;
		}
		
		.cubes_two  {
			@include column;
		}

		.cubes_right {
			@include column;
		}
		
				
		.band_box {
			@include linear-gradient($primary-color, $primary-color-darken );
			height: 100px;
			width: 100%;
			display: table;
			vertical-align: middle;
			text-align: center;
		}
			
		.text {
			display: table-cell;
			vertical-align: middle;

		h3 {
			font-size: 1.1em;
			text-align: center;
			line-height: .5em;
		}
		
		h1 {
			font-size: 2em;
// 				text-align: center;
			line-height: 1em;
			}
			
		}
	}
}




	


	




.band_name_box {
	float: left;
	width: 80%;
	background: gray;
}

.icon_box {
	float: right;
	width: 20%;
	height: 90%;
}

.g_box {
	content: url(/img/G.svg);
}

.pick_box{
	content: url(/img/check.svg);
	width: 100%;
}



