/* Drop down menu to select weekend --------------------------------------------------------------------- */
/* .myMenu is the class for the whole menu */
.myMenu {
	margin:0;
	padding:0;
	width: 100%;
	}
  
  /* li is the top level box, the first one you see */
	li {
		width: 100%;
		list-style:none;
		float:left;
		font:12px Arial, Helvetica, sans-serif #111;
     a:link, a:visited {
        display:block;
        text-decoration:none;
        background-color:#09F;
        padding: 0.5em 2em;
        margin:0;
        border-right: 1px solid #fff;
        color:#111;
        }
        a:hover {
          background-color:#0CF;	
          }
    /* li ul is the container for the boxes that come out when the top box is expanded */
      ul {
	    width: 100%;
        position:absolute;
        visibility:hidden;
        border-top:1px solid #fff;
        margin:0;
        padding:0;
        li {
          display:inline;
          float:none;
          a:link, .myMenu li ul li a:visited {
            background-color:#09F;
            width:auto;
          }
          }
        
      }
  }

.myMenu li ul li a:link, .myMenu li ul li a:visited {
	background-color:#09F;
	width:auto;
}

.myMenu li ul li a:hover {
	background-color:#0CF;	
}






// Filter by band info

.filters {
	// This puts the divs into the Neat grid
	@include outer-container;
	background-color: white;
	padding: 10px;
}

@mixin filter_sort_bar {
	height: 40px;
	width: 100%;
}

.date_select_div {
	background-color: gray;
	@include filter_sort_bar;
}

.band_btn {
	font-size: 1.1em;
	color: white;
	background-color: $primary-color-darken;
	border: 1 pt;
	border-radius: 3px;
	border-style: solid;
	border-color: $primary-color-darken;
	padding: 10px 15px 10px 15px;
	margin: 8px;
	&:hover {
		color: white;
		background-color: $primary-color;
	}
	&:active {
		color: $primary-color-darken;
		background-color: white;
	}
}

