$primary_color: #87d7d6;

div {
	border: 1px dashed gray;
	}
	.filters{
		background-color: blue;
		padding: 10px;
	}
	.cubes_left {
		float: left;
		width: 50%;
	}
	.cubes_right {
		float: right;
		width: 50%;
	}


/* Drop down menu to select weekend --------------------------------------------------------------------- */
/* .myMenu is the class for the whole menu */
.myMenu {
	margin:0;
	padding:0;
	}
  
  /* li is the top level box, the first one you see */
	li {
		list-style:none;
		float:left;
		font:12px Arial, Helvetica, sans-serif #111;
     a:link, a:visited {
        display:block;
        text-decoration:none;
        background-color:#09F;
        padding: 0.5em 2em;
        margin:0;
        border-right: 1px solid #fff;
        color:#111;
        }
        a:hover {
          background-color:#0CF;	
          }
    /* li ul is the container for the boxes that come out when the top box is expanded */
      ul {
        position:absolute;
        visibility:hidden;
        border-top:1px solid #fff;
        margin:0;
        padding:0;
        li {
          display:inline;
          float:none;
          a:link, .myMenu li ul li a:visited {
            background-color:#09F;
            width:auto;
          }
          }
        
      }
  }

.myMenu li ul li a:link, .myMenu li ul li a:visited {
	background-color:#09F;
	width:auto;
}

.myMenu li ul li a:hover {
	background-color:#0CF;	
}

/* End Drop down menu to select weekend --------------------------------------------------------------------- */



div 

.starter-template{
/* 	padding-top:300px; */
	margin: 50px;
	border: 2px solid black;
	text-align:center;
}
.container {
  padding-top: 20px;
  border: 5px solid #aaaaaa;
}

/*
.button {
	background: gray;
	width: 35px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	text-align: center;
	
}
*/
.band {
	background: $primary_color;
	height: 100px;
	width: 80%;
	padding: 30px;
	margin: 30px;
	border-radius: 12px;
}

h1 {
	text-align: center;
}

.band_name_box {
	float: left;
	width: 80%;
	background: gray;
}

.icon_box {
	float: right;
	width: 20%;
	height: 90%;
}

.g_box {
	content: url(/img/G.svg);
}

.pick_box{
	content: url(/img/check.svg);
	width: 100%;
}



